# 网络优化
net.core.somaxconn = {somaxconn}
net.ipv4.tcp_max_syn_backlog = {tcp_max_syn_backlog}
net.core.netdev_max_backlog = {netdev_max_backlog}
net.ipv4.tcp_fastopen = 3
net.ipv4.tcp_slow_start_after_idle = 0

# 文件系统优化
fs.file-max = {file_max}
fs.inotify.max_user_watches = {max_user_watches}

# 内存优化
vm.swappiness = {swappiness}
vm.vfs_cache_pressure = {vfs_cache_pressure}
vm.dirty_ratio = {dirty_ratio}
vm.dirty_background_ratio = {dirty_background_ratio} 